.transaction-select{
    height: fit-content;
    width: 100%;
    padding: 10px;
    position: relative;
    top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

input{
 height: 40px;
 width: fit-content;
 border: 0px;
 margin: 10px;
 padding: 10px;
 border-radius: 10px;

}
button{
    max-height: fit-content;
}

.transaction-history{
    overflow-y: scroll;
    position: relative;
    top: 20px;
}
.dashboard{
    overflow: hidden;

}

#btn{
    padding: 10px 20px;
    background-color: #1abc9c;

    height: fit-content;
}